body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #5de9e9, #976835);
    min-height: 100vh;
}

.navbar {
    background-color: #616060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 25%;

}

.nav-links a {
    color: white;
    text-decoration: none;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px; /* Adjust based on navbar height */
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .toggle-button {
        display: flex;
    }
}
.footer{
    background-color: #777676;
    color: white;
    font-weight: 600;
}